/**** Tooltip ****/
.mud-tooltip-root {
    width: auto;
}

/**** MudSwitch ****/

.mud-switch-span {
    width: 63px;
    padding: 10px;
    order: 2;
}

.mud-switch-base {
    padding: 8px;
    margin-left: -1px;
}

    .mud-switch-base.mud-checked {
        transform: translateX(24px);
    }

.mud-switch-button .mud-switch-thumb {
    width: 22px;
    height: 22px;
}

.mud-switch-span .mud-switch-track {
    border-radius: 9px;
    display: flex;
    justify-content: center;
    padding: 0 3px 0 5px;
}

.mud-switch-track::after {
    font-size: .75rem;
    font-weight: bold;
    content: "Si No";
    color: white;
    align-self: center;
}

.mud-switch p {
    padding: 10px;
    order: 1;
    display: flex;
}

.mud-switch {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
}

/***** Expansion Panels *****/

.mud-expand-panel .mud-expand-panel-header {
    color: var(--mud-palette-primary-text) !important;
    background-color: var(--mud-palette-primary) !important;
    padding: 8px 20px 8px 20px;
    min-height: unset;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.mud-expand-panel .mud-expand-panel-content {
    padding: 8px 12px;
}

/**** MudCard ****/

.mud-card-header {
    color: var(--mud-palette-primary-text) !important;
    background-color: var(--mud-palette-primary) !important;
    padding: 8px 20px 8px 20px;
}

.mud-card-content {
    padding: 8px 12px;
}

.mud-card.mud-paper {
    padding: 0;
}

/***** Paper *****/
.mud-paper-scse.mud-paper {
    padding: 8px 12px;
}
