/*** Contenido ***/
/* 1 - Blazor Site      */
/* 2 - MudAppBar-Header */
/* 3 - MudDrawer        */
/* 4 - MudMainContent   */
/* 5 - MudAppBar-Footer */
/* 6 - MudButton        */
/* 7 - Popover          */


/*** [ 1 - Blazor Site ] ***/

html, body {
    font-family: "Poppins Medium", sans-serif;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1500;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "Un error ha ocurrido."
    }

:root {
    --ratio-appbar-dense: 4;
}

/*** [ 2 - MudAppBar-Header ] ***/

.mud-appbar-header-scse .mud-typography.mud-typography-subtitle1 {
    font-size: 0.9rem;
}

.mud-appbar-header-scse .mud-typography.mud-typography-subtitle2 {
    font-size: 0.7rem;
}

.mud-appbar-header-scse .mud-typography.mud-typography-h6 {
    font-size: 1.1rem;
}

/*** [ 3 - MudDrawer ] ***/

.mud-drawer-fixed-scse.mud-drawer.mud-drawer-fixed.mud-drawer-mini.mud-drawer-clipped-always {
    height: calc(100% - var(--mud-appbar-height) - calc(var(--mud-appbar-height) - var(--mud-appbar-height) / var(--ratio-appbar-dense)));
}

.mud-drawer .mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled) {
    background-color: var(--mud-palette-appbar-background);
    color: var(--mud-palette-white);
}

    .mud-drawer .mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled) {
        background-color: var(--mud-palette-appbar-background);
        color: var(--mud-palette-white);
    }

.mud-drawer .mud-navmenu.mud-navmenu-default .mud-nav-link:hover:not(.mud-nav-link-disabled) {
    background-color: var(--mud-palette-appbar-background);
    color: var(--mud-palette-white);
}

.mud-drawer.mud-drawer--open .mud-nav-link:not(.mud-nav-link-disabled) .mud-nav-link-icon.mud-nav-link-icon-default {
    color: var(--mud-palette-primary);
}

.mud-navmenu .mud-nav-group .mud-nav-link.active:first-child {
    background-color: var(--mud-palette-appbar-background);
}

/*** [ 4 - MudMainContent ] ***/

.mud-main-content-scse {
    margin-top: var(--mud-appbar-height);
    margin-left: var(--mud-drawer-width-mini-left);
    margin-right: 0;
    margin-bottom: calc(var(--mud-appbar-height) - var(--mud-appbar-height) / var(--ratio-appbar-dense));
    padding: 16px;
}

/*** [ 5 - MudAppBar-Footer ] ***/

.mud-appbar-footer-scse.mud-appbar.mud-appbar-fixed-bottom.mud-appbar-dense {
    height: calc(var(--mud-appbar-height) - var(--mud-appbar-height) / var(--ratio-appbar-dense));
    background-color: var(--mud-palette-white);
}

.mud-appbar-footer-scse .mud-typography.mud-typography-subtitle2 {
    font-size: 0.8rem;
}

/*** [ 6 - MudButton ] ***/

/* Se inactiva el uppercase del texto en los botones */
.mud-button {
    border-radius: 13px;
}

    .mud-button:disabled .mud-button-label {
        color: var(--mud-palette-primary-text);
    }

.mud-button-outlined:disabled {
    background-color: var(--mud-palette-action-disabled-background);
}

button.mud-icon-button {
    padding: 6px; /* Distancia del destello para botones con icono */
}

.mud-icon-button:disabled .mud-icon-root {
    color: var(--mud-palette-action-disabled-background);
}

.mud-button-icon-label-size-large-scse.mud-button-icon-size-large > *:first-child {
    font-size: 2.125rem; /* Icono del botón icon-text */
}

.mud-button-icon-label-scse.mud-button, .mud-button-icon-label-scse.mud-button:disabled {
    line-height: 1;
}

    .mud-button-icon-label-scse.mud-button .mud-button-label {
        display: block;
        /*font-family: "Poppins Medium";*/
        font-size: 0.8rem;
        color: var(--mud-palette-action-disabled-background);
    }

        .mud-button-icon-label-scse.mud-button .mud-button-label .mud-button-icon-start {
            margin-left: 0;
            margin-right: 0;
            margin-inline-start: 0;
            margin-inline-end: 0;
        }

    .mud-button-icon-label-scse.mud-button:disabled .mud-button-label {
        color: var(--mud-palette-action-disabled-background);
    }

/*.mud-icon-size-large*/

/*MudMenu*/
/*:first-child(.mud-nav-link.active)*/
/*.mud-navmenu:is(.mud-nav-link:is(.active)) {
    background-color: White !important;
    color: var(--mud-palette-white) !important;
}*/

/*** [ 7 - Popover ] ***/

.mud-popover-scse.mud-popover.mud-popover-open.mud-paper {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    top: var(--mud-appbar-height) !important;
}

.mud-popover-scse.mud-menu {
    height: var(--mud-appbar-height) !important;
}

/*[class='mud-overlay']*/
.mud-menu:has(.mud-overlay) > .mud-menu-activator-scse {
    background-color: white;
}
