/********* Estilos para componente Examen Físico *******/

:root {
    /*Estos colores corresponden a los de la paleta corporativa*/
    --color-orange: #D68500;
    --Color-orange: #D68500;
    --Color-primary: #7CB749;
}

/* Ajustes al Contenedor del Editor de Imágenes */
/*.canvas-fix-form.mud-paper.mud-paper-outlined {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;

    border: none;
    border-radius: 50%;
    border-width: 3px;
    border-style: dashed;
    border-color: #6badc7;*/
/*border-image: linear-gradient(#6badc7, #98b45b);*/
/*border-image: linear-gradient();*/
/*background-image: url("data:image/svg+xml,%3csvg width='500%25' height='500%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='500%25' height='500%25' fill='none' rx='500' ry='500' stroke='%23EC3463' stroke-width='10' stroke-dasharray='12%25%2c 8%25' stroke-dashoffset='35' stroke-linecap='butt'/%3e%3c/svg%3e");*/
/*background: linear-gradient(to right, orange 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(blue 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, green 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(red 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top, right, bottom, left;
    background-repeat: repeat-x, repeat-y;
    background-size: 10px 1px, 1px 10px;*/
/*}*/

/*** [Inicio]: Ajustes en Paper del Menú ***/

/* Ajuste al radius del contenedor principal  */
.main-fix-border.mud-paper.mud-paper-outlined {
    border-radius: 12px;
}

/*** [Fin]: Ajustes en Paper del Menú ***/


/*** [Inicio]: Ajustes en MudExpandPanel ***/

/* Ajuste al radius del header */
.menu-fix-header.mud-expand-panel > .mud-expand-panel-header {
    border-top-right-radius: 0 !important;
}

/* Ajuste al borde del menú */
.menu-fix-border .mud-expand-panel.mud-elevation-0 {
    box-shadow: 0.7px 0.7px 0 0 var(--mud-palette-lines-default);
}

/* Ajuste al radius del menú */
.menu-fix-border.mud-expansion-panels {
    border-radius: 12px;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

/*Ajuste para esconder las flechas de despliegue del menú para regiónes sin organo*/
.hide-mud-icon-root > .mud-icon-root.mud-svg-icon {
    visibility: hidden !important;
}

/*Ajuste para cambiar el color default*/
.grey-mud-icon-button > .mud-icon-button {
    color: #BDBDBD;
}

/*** [Fin]: Ajustes en MudExpandPanel ***/


/*** [Inicio]: Ajustes en MudIconButton ***/

.button-fix-selected-primary.mud-icon-button {
    color: var(--mud-palette-white);
    background-color: var(--mud-palette-secondary);
    border-color: var(--mud-palette-black);
}

.button-fix-selected-secondary.mud-icon-button {
    color: var(--mud-palette-white);
    background-color: var(--mud-palette-secondary);
    border-color: var(--mud-palette-black);
}

/*** [Fin]: Ajustes en MudIconButton ***/

/*** [Inicio]: Ajustes en MudButton ***/

/* Se inactiva el uppercase del texto en los botones */
.mud-button {
    text-transform: none;
}

/*** [Fin]: Ajustes en MudButton ***/


/*** [Inicio]: Ajustes en MudPaper ***/

/* Se modifica el grosor de la linea del borde */
.mud-paper-outlined {
    border: 1.3px solid var(--mud-palette-lines-default);
}

/*** [Fin]: Ajustes en MudPaper ***/


/*** [Inicio]: Ajustes en MudExpandPanel ***/

/* Se implementa delineado del panel */
.mud-expand-panel.mud-elevation-0 {
    box-shadow: 0 0 0 1px var(--mud-palette-lines-default);
    /*outline: 1.3px solid var(--mud-palette-lines-default);*/
}

/* Se implementa delineado y radius en el header del panel */
.mud-expand-panel .mud-expand-panel-header {
    outline: 1.3px solid var(--mud-palette-primary);
    color: var(--mud-palette-white);
    min-height: 32px;
    padding: 4px 8px 4px 18px;
    background-color: var(--mud-palette-primary);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

/*** [Fin]: Ajustes en MudExpandPanel ***/


/*** [Inicio]: Ajustes en MudDivider ***/

/* Se modifica el grosor de la línea */
.mud-divider-vertical {
    width: 1.3px;
}

/*** [Fin]: Ajustes en MudDivider ***/


/*** [Fin]: Ajustes en MudDivider ***/

/*** [Inicio]: Ajustes en MudDialog para MessageBox ***/

.mud-dialog-messagebox.mud-dialog {
    --color-messagebox-header: var(--mud-palette-dark-lighten);
    padding-top: 30px;
    line-height: inherit;
    border-top: 5px solid var(--color-messagebox-header);
}

.mud-dialog-messagebox.mud-dialog-messagebox-confirm.mud-dialog {
    --color-messagebox-header: var(--mud-palette-primary);
}

.mud-dialog-messagebox.mud-dialog-messagebox-error.mud-dialog {
    --color-messagebox-header: var(--mud-palette-warning);
}

.mud-dialog-messagebox.mud-dialog-messagebox-info.mud-dialog {
    --color-messagebox-header: var(--mud-palette-info);
}

.mud-dialog-messagebox.mud-dialog-messagebox-warning.mud-dialog {
    --color-messagebox-header: var(--mud-palette-warning);
}

.mud-dialog-messagebox.mud-dialog::before {
    display: block;
    position: absolute;
    height: 65px;
    width: 65px;
    top: -0.75em;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-messagebox-header);
    color: var(--mud-palette-info-text);
    border-radius: 50%;
    font-size: 2.8rem;
    text-align: center;
}

/*** [Fin]: Ajustes en MudDialog para MessageBox ***/

/*[Inicio] Ajustes mensaje Instantaneos*/
.mud-snackbar {
    box-shadow: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    justify-content: space-between;
}

.mud-alert-outlined-success {
    color: var(--mud-palette-primary);
    border: 1px solid var(--mud-palette-primary);
    border-right-style: dashed;
}

.mud-alert-outlined-warning {
    color: var(--mud-palette-warning);
    border: 1px solid var(--mud-palette-warning);
    border-right-style: dashed;
}

.mud-alert-outlined-error {
    color: var(--mud-palette-error);
    border: 1px solid var(--mud-palette-error);
    border-right-style: dashed;
}

.mud-alert-outlined-dark {
    color: var(--mud-palette-dark-darken);
    border: 1px solid var(--mud-palette-dark);
    border-right-style: dashed;
}

.mud-alert-outlined-info {
    color: var(--mud-palette-secondary);
    border: 1px solid var(--mud-palette-secondary);
    border-right-style: dashed;
}

.mud-alert-outlined-tertiary {
    color: var(--mud-palette-tertiary-darken);
    border: 1px solid var(--mud-palette-tertiary);
    border-right-style: dashed;
}

.mud-alert-outlined-secondary {
    color: var(--mud-palette-secondary-darken);
    border: 1px solid var(--mud-palette-secondary);
    border-right-style: dashed;
}

.mud-alert-outlined-primary {
    color: var(--mud-palette-primary-darken);
    border: 1px solid var(--mud-palette-primary);
    border-right-style: dashed;
}

.mud-alert-outlined-normal {
    color: var(--mud-palette-text-primary);
    border: 1px solid var(--mud-palette-text-primary);
    border-right-style: dashed;
}


.mud-snackbar-icon {
    display: flex;
    opacity: .9;
    padding: 0px 0;
    font-size: 22px;
    margin-right: 0px;
    margin-inline-end: 0px;
    margin-inline-start: unset;
    order: 1;
    margin-right: -10px !important;
    width: 40px;
    height: 40px;
}

    .mud-snackbar-icon .mud-icon-root {
        margin: auto;
    }

.mud-button-root .mud-icon-size-large {
    font-size: 1.25rem;
}

.mud-snackbar .mud-snackbar-content-message {
    width: 90%;
}

/*Pone el background-color al icono icon-Check*/
.mud-alert-outlined-success .mud-snackbar-icon {
    background-color: var(--mud-palette-primary);
    border-radius: 50%;
    color: white;
}
/*Pone el background-color al icono icon-Info*/
.mud-alert-outlined-info .mud-snackbar-icon {
    background-color: var(--mud-palette-secondary);
    border-radius: 50%;
    color: white;
}

/*Pone el background-color al icono icon-Check*/
.mud-alert-outlined-error .mud-snackbar-icon {
    background-color: var(--mud-palette-error);
    border-radius: 50%;
    color: white;
}
/*Pone el background-color al icono icon-Info*/
.mud-alert-outlined-warning .mud-snackbar-icon {
    background-color: var(--mud-palette-warning);
    border-radius: 50%;
    color: white;
}

/*[Fin] Ajustes mensaje Instantaneos*/

/**{
    margin:0;
    padding:0;
    box-sizing:border-box;
}*/

/*Crear un borde Gris*/
.BorderGray {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(128 128 128);
    border-radius: 15px;
}

/*Crear un dorde con un auto Scroll*/
.BorderAutoScroll {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(128 128 128);
    overflow: auto;
}

/*Estilos para los boton de Mudblazor*/
.buttonMedium {
    border-radius: 50px !important;
    max-height: 36px !important;
    margin-left: 3px;
}

/*Estilos para boton Small de Mudblazor*/
.buttonSmall {
    border-radius: 50px !important;
    max-height: 30px !important;
    margin-left: 3px;
}

body {
    font-family: var(--mud-typography-body1-fontfamily);
    font-size: var(--mud-typography-caption-fontsize);
}

/*Estilos param los label de los campos*/
.mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol {
    color: var(--mud-palette-textprimary);
    padding: 0;
    font-size: var(--mud-typography-caption-fontsize);
    font-family: var(--mud-typography-caption-fontfamily);
    font-weight: 400;
    line-height: 1;
    letter-spacing: .00938em;
    z-index: 0;
    pointer-events: none;
}
/*Estilos para el contenido del campo*/
.input-text-color .mud-input > input.mud-input-root {
    color: var(--mud-palette-textprimary);
    font-size: var(--mud-typography-caption-fontsize);
    font-family: var(--mud-typography-caption-fontfamily);
    margin-top: 6px;
}

/*Color de los label*/
.mud-shrink ~ label.mud-input-label.mud-input-label-inputcontrol {
    color: var(--mud-palette-textprimary);
    font-family: var(--mud-typography-caption-fontfamily) !important;
}

/*Pone el texto en negrita*/
.TextBold {
    font-weight: bold;
}

/*Estilos para el boton eliminar*/
.ButtonDelete {
    color: #D68500;
    border-color: #D68500;
}

/*Estilos para campo observaciones*/
.Observations {
    line-height: 20px;
}

/*Crea una linea solida a los elementos que en el primer render estan desabilitados*/
.mud-input.mud-input-underline.mud-disabled:before {
    border-bottom: solid 1px;
    border-bottom-color: #d3d3d3;
}

/*Estilos para los paneles expandibles*/
.mud-expand-summary .mud-expand-panel .mud-expand-panel-header {
    height: 5px;
    max-height: 5px;
    width: 100%;
    align-items: center;
    display: flex;
    font-size: .9375rem;
    line-height: 1;
    min-height: 5px;
    outline: none;
    padding: 16px 24px;
    position: relative;
    transition: min-height .3s cubic-bezier(.25,.8,.5,1);
    user-select: none;
    background-color: var(--mud-palette-primary);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*Cambia el color de la letra en el menu de examen fisico al pasar el Mouse por alguno de sus elementos*/
.mud-list-item-clickable:hover {
    background-color: var(--mud-palette-action-default-hover);
    color: var(--Color-primary);
}
/*Estilos para la seccion de convenciones en el componente de Examen Físico*/
.container-conventions {
    margin: auto;
    max-height: 100px;
}

/*Alinea el taxto a los radio Button*/
[role=radiogroup] {
    margin-top: 11px;
}

/*Establece el color del texto del Switch*/
.mud-switch p {
    padding: 10px;
    order: 1;
    display: flex;
    color: var(--mud-palette-textprimary);
}

.mud-grid-spacing-xs-3 > .mud-grid-item {
    padding: 5px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

@media(min-width:200px) {
    .container-center {
        order: 2;
    }

    .container-menu {
        order: 1
    }

    .container-summary {
        order: 3;
        max-height: 400px;
        overflow: auto;
    }
}

@media(min-width:700px) {

    .container-menu {
        order: 1;
    }

    .container-center {
        order: 2;
    }

    .container-summary {
        order: 3;
        max-height: 500px;
        overflow: auto;
    }
}

@media(min-width:900px) {

    .container-center {
        order: 2;
        max-height: 100px;
    }

    .container-menu {
        order: 1;
    }

    .container-summary {
        order: 3;
        max-height: 500px;
        overflow: auto;
    }
}

/********* Estilos para componente Examen Físico *******/

.canvas-main-container {
    --main-size: 350px;
    --item-size: 50px;
    width: var(--main-size);
    height: var(--main-size);
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 50%;
    border: 3px dashed #6badc7 !important;
    /*background-image: url("../Assets/images/EF_Circulo.svg");*/
    /*background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='350' ry='350' stroke='%23EC3463' stroke-width='13' stroke-dasharray='10%2c 20' stroke-dashoffset='45' stroke-linecap='square'/%3e%3c/svg%3e");*/
    /*border: 3px solid transparent !important;
    background-image: linear-gradient(white, white), linear-gradient(30deg, red 36%, lightgrey 30%), linear-gradient(120deg, yellow 36%, lightgrey 30%), linear-gradient(300deg, blue 36%, lightgrey 30%), linear-gradient(210deg, green 36%, lightgrey 30%);
    background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-repeat: no-repeat;
    background-position: center center, left top, right top, left bottom, right bottom;
    background-origin: content-box, border-box, border-box, border-box, border-box;
    background-clip: content-box, border-box, border-box, border-box, border-box;*/
}

.canvas-menu-container {
    position: relative;
    list-style: none;
}

    .canvas-menu-container button {
        width: 100%;
        height: 100%;
        border: 3px dashed #6badc7;
    }

.canvas-menu-item {
    position: absolute;
    width: var(--item-size);
    height: var(--item-size);
    top: calc(var(--item-size) * 2.92);
    left: calc(var(--item-size) * 3);
    /*margin-top: calc(var(--item-size));
    margin-left: calc(var(--item-size));*/
    --angle: calc(360deg / var(--item-total));
    --rotation: calc(var(--angle) * var(--item-id) - (var(--angle) * 3));
    transform: rotate(var(--rotation)) translate(calc(var(--main-size) / 1.6)) rotate(calc(var(--rotation) * -1));
}

.canvas-container {
    /*position: absolute !important;*/
    /*display: flex !important;*/
    /*top: 0 !important;*/
    /*left: 0 !important;*/
    width: 100% !important;
    height: 100% !important;
    border-radius: 50% !important;
}

    .canvas-container > canvas {
        width: 100% !important;
        height: 100% !important;
        border-radius: 50% !important;
    }

.btnAnswerDescription {
    width: 100%;
    justify-content: left;
    border-right: 1px solid;
    border-radius: 0px;
    text-align: inherit;
}

.borderItemsAnswer {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-right: 1px solid;
}


.mud-expand-panel-header > div {
    margin-left: 15px;
}

.btnfinalityscale {
    position: absolute;
    z-index: 100;
    margin-left: 8px;
    margin-top: 3px;
    color: white;
}
/*Da el ancho total al componente TextComponent*/
.mud-tooltip-root {
    width: auto;
}


.mud-table-hover .mud-table-container .mud-table-root .mud-table-body .mud-table-row:hover {
    background-color: var(--mud-palette-table-hover);
    border-left: 5px solid var(--Color-primary);
}

/*** [ MudMainContentDev ] ***/

.mud-main-content-dev-scse {
    margin: 0;
    margin-left: 1px;
    padding: 0;
}

    .mud-main-content-dev-scse .mud-container {
        background: white;
        /*height: calc(100vh);*/
    }

    .mud-main-content-scse .mud-container {
        /*background: white;*/
        /*height: calc(100vh - 108px);*/
    }

.mud-drawer-fixed-dev-scse.mud-drawer.mud-drawer-mini.mud-drawer-pos-left.mud-drawer--closed {
    width: 1px;
}
