@font-face {
    font-family: 'Poppins Regular';
    src: local('Poppins Regular'), 
        url('../Assets/fonts/poppins/Poppins-Regular.woff2') format('woff2'), 
        url('../Assets/fonts/poppins/Poppins-Regular.woff') format('woff'), 
        url('../Assets/fonts/poppins/Poppins-Regular.otf') format('opentype');
    font-style: normal;
    font-display: swap;
    /*font-weight: 400;*/
}

@font-face {
    font-family: 'Poppins Medium';
    src: local('Poppins Medium'), 
        url('../Assets/fonts/poppins/Poppins-Medium.woff2') format('woff2'), 
        url('../Assets/fonts/poppins/Poppins-Medium.woff') format('woff'), 
        url('../Assets/fonts/poppins/Poppins-Medium.otf') format('opentype');
    font-style: normal;
    font-display: swap;
    /*font-weight: 500;*/
}